<?xml version="1.0"?>
<config>
    <modules>
        <SomethingDigital_Criteo>
             <version>0.2.0</version>
        </SomethingDigital_Criteo>
    </modules>
    <global>
        <helpers>
            <somethingdigital_criteo>
                <class>SomethingDigital_Criteo_Helper</class>
            </somethingdigital_criteo>
        </helpers>
        <blocks>
            <somethingdigital_criteo>
                <class>SomethingDigital_Criteo_Block</class>
            </somethingdigital_criteo>
        </blocks>
        <models>
            <somethingdigital_criteo>
                <class>SomethingDigital_Criteo_Model</class>
            </somethingdigital_criteo>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <somethingdigital_criteo>
                    <file>somethingdigital_criteo.xml</file>
                </somethingdigital_criteo>
            </updates>
        </layout>
    </frontend>
    <default>
        <somethingdigital_criteo>
            <settings>
                <use_deduplication>0</use_deduplication>
                <deduplication_url_match_term>criteo</deduplication_url_match_term>
                <deduplication_cookie_lifetime>15</deduplication_cookie_lifetime>
            </settings>
        </somethingdigital_criteo>
    </default>
</config>
