<?xml version="1.0"?>
<config>
    <sections>
        <somethingdigital_criteo translate="label">
            <label>Criteo</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <account_number translate="label comment">
                            <label>Account Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account_number>
                        <product_identifier translate="label comment">
                            <label>Identify Products By</label>
                            <frontend_type>select</frontend_type>
                            <source_model>SomethingDigital_Criteo_Model_Adminhtml_System_Config_Source_Productidentifier</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_identifier>
                        <fire_basket_tracker_at_checkout>
                            <label>Fire Basket Tracker At Checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fire_basket_tracker_at_checkout>
                        <use_deduplication>
                            <label>Use Deduplication</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_deduplication>
                        <deduplication_url_match_term>
                            <label>Deduplication URL Match Term</label>
                            <comment>Cookie will be dropped if URL contains this term (case insensitive).</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </deduplication_url_match_term>
                        <deduplication_cookie_lifetime>
                            <label>Deduplication Cookie Lifetime</label>
                            <comment>Lifetime (in days) of cookie for criteo de-duplication. Criteo suggests 15.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </deduplication_cookie_lifetime>
                        <device_detection translate="label comment">
                            <label>Device Detection</label>
                            <comment>When enabled, the deviceType is detected and can be either mobile or desktop. Defaults to desktop when disabled.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </device_detection>
                    </fields>
                </settings>
            </groups>
        </somethingdigital_criteo>
    </sections>
</config>
